.header {
  color: #ff9900;
  text-transform: uppercase;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  text-align: center;
}

.header::before,
.header::after {
  content: "__";
  width: 100%;
  color: #ff9900;
  position: relative;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pizza-item {
  display: table-column;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.pizza-item > img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.pizza-item > h3 {
  margin: 8px 0;
  color: #393938;
}

.pizza-item > p {
  margin: 5px 0;
  font-size: 12px;
  color: #747270;
}

footer {
  margin: 20px 10px;
}

.soldout {
  opacity: 0.5;
  filter: grayscale(100%);
  cursor: not-allowed;
  pointer-events: none;
}
