body {
  margin: 0;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  /* border-bottom: 10px solid #ff9900; */
  /* background-color: #ffebcc; */
}
